<div class="navbar">
  <mat-toolbar color="primary">
      <span>QuizArt</span>
      <button class="link" mat-button routerLink="home">Home</button>
      <button class="link" mat-button routerLink="topics">Topics</button> 
      <form class="text">
          <input type="search" id="mySearch" name="localhost:3000"
          placeholder="Search Topics...">
          <button>Search</button>
      </form>
      <button class="link" mat-button routerLink="messages">Messages </button>
      <button class="link" mat-button routerLink="notification">Notification</button>
  </mat-toolbar>
 </div>