<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
      
      <mat-nav-list>
        <a mat-list-item routerLink="">Home</a>
        <a mat-list-item routerLink="topics">Topics</a>
        <a mat-list-item routerLink="messages">Message</a>
        <a mat-list-item routerLink="notification">Notifications</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>QuizRT</span>
        <div class="text">
            <form class="mysearch">
              <input type="search" id="search" name="localhost:3000" placeholder="Search Topics...">
              <button mat-button id="searchbutton"><mat-icon>search</mat-icon></button>
            </form>
            </div>
      </mat-toolbar>
      <!-- Add Content Here -->
     <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  