.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  form{
    margin: 0%;
  }
  
mat-toolbar #mySearch{
  padding: 3%;
  font-size: 90%;
  border: none;
  width: 90%;
}

mat-toolbar #mySearchButton{
  margin-bottom: 0px;
  padding: 3px;
  display: inline-block;
  position: absolute;
  border: none;
  width:10%;
}

  

  @media(max-width: 425px){
    mat-toolbar .text{
      float: right;
      margin-left: 1rem;
    }

    .mysearch{
      
    }
    
    #search{
  padding: 2%;
  background: #ddd;
  font-size: 17px;
  border: none;
    }

    mat-toolbar #mySearchButton{
      margin-bottom: 0px;
      padding: 3px;
      display: inline-block;
      height: 34px;
      position: absolute;
      border: none;
      width:10%;
    } 

    #searchbutton{
      padding: 0%;
      display: contents;
    }
    
  }