.companyName {
  font-size: 150%;
}

.mat-toolbar {
  height: 10vh;
  background-color: #000000;
  text-decoration-color: #ECFEE8;
}

div {
  overflow: inherit;
}

.mat-sidenav-container {
  background-color: #000000;
  min-height: 100vh !important;
}

a {
  text-decoration: none;
  font-size: 100%;
  white-space: normal;
}

button {
  font-size: 110%;
  min-width: min-content;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content {
  font-size: 200%;
  text-align: center;
}

.mat-sidenav-content {
  background-color: #141115;
}

.mat-drawer-container {
  color: white;
}

