.TopicInfo {
  justify-content: space-evenly;
}

.Topic {
  margin: 3%;
}

.ProfilePic {
  width: 80px;
  height: 80px;
}

.posts {
  margin: 3%;
}

.post-card {
  max-width: 400px;
  /* justify-content: center; */
}

.post-header-image {
  background-size: cover;
}

.WritePost {
  display: inline-grid;
}

mat-expansion-panel {
  margin: 0;
  width: 100%;
  /* padding: 0; */
}

@media(max-width: 320px) {
  .ProfilePic {
    width: 80px;
    height: 80px;
  }
  textarea {
    resize: none;
  }
  .title {
    justify-content: center;
    margin-bottom: 6%;
    width: 95%;
  }
  mat-card-content {
    justify-content: space-around;
  }
  #playbutton {
    margin: 0%;
  }
  #title {
    margin: auto;
  }
}

@media(min-width: 725px) {
  .Topic{
    float: left;
  }
}