.Info{
    display: flex;
    margin : 1rem;
}

.Leaderboard{
    margin: 1rem;
}

img{
    width: 10rem;
}

.Topics{
    display: flex;
    flex-flow: row wrap;
}

.PopularTopics{
    margin:1rem;
}

.FavouriteTopics{
    margin:1rem;
}

mat-card{
    margin: 1rem;
}

@media(max-width: 425px) {
    .Info{
        flex-flow: column;
    }

    mat-card{
        width: 100%;
    }

    .Topics{
        flex-flow: column wrap;
    }

}