<div class="Info">
  <div class="UserInfo">
    <mat-card class="User">
      <mat-card-header>
      <img mat-card-avatar class="ProfilePic" src="../../../img/male-icon-4.jpg" ref="Add image">
      <mat-card-title>Aman Prakash</mat-card-title>
      <mat-card-subtitle>India</mat-card-subtitle>
      <mat-card-subtitle routerLink="viewprofile">View Profile</mat-card-subtitle>
      </mat-card-header>
      <h2>Leaderboard</h2>
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <span>40%</span>
    </mat-card>
  </div>
</div>

<div class="PopularTopics">
  <h2>Popular Topics</h2>
  <div class="Topics">
    <mat-card class="Topic">
      <img mat-card-image src="../../../img/male-icon-4.jpg">
      <mat-card-title>Football</mat-card-title>
    </mat-card>
    <mat-card class="Topic">
      <img mat-card-image src="../../../img/male-icon-4.jpg">
      <mat-card-title>Cricket</mat-card-title>
    </mat-card>
  </div>
</div>

<div class="FavouriteTopics">
  <h2>Favourite Topics</h2>
  <div class="Topics">
    <mat-card class="Topic">
      <img mat-card-image src="../../../img/male-icon-4.jpg">
      <mat-card-title>Football</mat-card-title>
    </mat-card>
    <mat-card class="Topic">
      <img mat-card-image src="../../../img/male-icon-4.jpg">
      <mat-card-title>Cricket</mat-card-title>
    </mat-card>
  </div>
</div>