<div class="Waiting games">
  <h4>Join Games</h4>
  <div class="Topics">
    <div class="Topic">
      <img src="../../../img/topics_image.png">
      Football
    </div>
    <div class="Topic">
      <img src="../../../img/topics_image.png">
      Cricket
    </div>
    <div class="Topic">
      <img src="../../../img/topics_image.png">
      Hockey
    </div>
  </div>
</div>

<div class="PopularTopics">
  <h4>Popular Topics</h4>
  <div class="Topics">
    <div class="Topic">
      <img src="../../../img/topics_image.png">
      Football
    </div>
    <div class="Topic">
      <img src="../../../img/topics_image.png">
      Cricket
    </div>
    <div class="Topic">
      <img src="../../../img/topics_image.png">
      Hockey
    </div>
  </div>
</div>

<div class="FavouriteTopics">
  <h4>Favourite Topics</h4>
  <div class="Topics">
    <div class="Topic">
      <img src="../../../img/topics_image.png">
      Football
    </div>
    <div class="Topic">
      <img src="../../../img/topics_image.png">
      Cricket
    </div>
    <div class="Topic">
      <img src="../../../img/topics_image.png">
      Hockey
    </div>
  </div>
</div>